<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
       http://activemq.apache.org/camel/schema/spring http://activemq.apache.org/camel/schema/spring/camel-spring.xsd">

    <bean id="userDAO" class="com.tc.webatm.dao.jdbc.JDBCUserDAO"/>
<!--
    <bean id="noteHolderBean" class="com.lohika.ssession.logic.impl.NoteHolderImpl">
		<constructor-arg ref="persistenceManagerBean" />
	</bean>

	<bean id="persistenceManagerBean" class="com.lohika.ssession.persistence.PersistenceManager">
		<property name="userDao" ref="userDaoBean"/>
		<property name="noteDao" ref="noteDaoBean"/>
		<property name="currencyDao" ref="currencyDaoBean"/>
	</bean>
-->
</beans>

